<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Users</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <p class="h4 text-white">
        <b><span id="navbarEmail" class="align-middle"></span></b>
        <span class="align-middle">with roles:</span>
        <span id="navbarRoles" class="align-middle"></span>
    </p>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="d-flex flex-row no-gutters ">
    <!-- левая панель -->
    <div class="col-2 ">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
             aria-orientation="vertical" style="padding-top: 15px">
            <a class="nav-link" href="/admin" sec:authorize="hasRole('ROLE_ADMIN')"
               role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link active" href="/user"
               role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>
    <!-- основная инфа-->
    <div class="col bg-light min-vh-100" style=" padding: 20px">
        <div class="tab-content" tabindex="0" id="v-pills-tabContent">
            <p class="h1">User information-page </p>
            <div class="card">
                <h5 class="card-header">About user</h5>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="currentUserTable">
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/js/user.js"></script>
</body>
</html>